@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #fff;
}

.body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.NavBar {
    background-color: chocolate;
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.Footer {
    background-color: chocolate;
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.LeftSideMenu {
    background-color: chocolate;
    grid-column: 1 / span 2;
    grid-row: 2 / span 10;
}

.RightSideMenu {
    background-color: chocolate;
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.PageContent {
    background-color: ghostwhite;
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
}

.NavBar {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

.pagesList ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 10px;
}
.Brand {
    padding-left: 10px;
}

/* main page body style */
.PageContent{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.pageTitle{
    text-align: center;
}

.PageContent {
    background: radial-gradient(circle at top,#F08A5D, #B83B5E, #6A2C70, transparent),
    radial-gradient(circle at bottom,#88304E, #522546, #311D3F, transparent);
    background-size: 400% 400%;
    animation: AnimatedBG 12s ease-in-out infinite;
}

@-webkit-keyframes AnimatedBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 50%;
    }
}
